body{
    background-color: #4b9cac
}
/*Outer Div design*/
#main-div{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: #D6D6E7;
    /* box-shadow: 0 0 5px #999, 0 0 10px #999, 0 0 15px #999; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
}


/*Input Screen*/
#forscreen{
    margin: auto;
    width: 380px;
    height: 100px;
    margin-bottom: 1rem;
}
#screen{
    outline: none !important;
    box-sizing: border-box;
    padding: 10px; 
    background-color: lavenderblush;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    line-height: normal;
}

/* Buttons */

.btn-rows{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1rem;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 4rem;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.op-btn{
    background-color: navajowhite;
}

.btndes2{
    background-color: powderblue;
}